.h1{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color:rgba(242, 246, 242, 0.696);
 position:absolute;
 margin-left: 5%;
 margin-top: 13%;
 

}

body{
    background-image: url("../images/bg2.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
  
}

.h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgba(242, 246, 242, 0.696);
    margin-top: 16%;
    font-size: 90%;
    position: absolute;
    margin-left:5.2%;
}



table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1100px;
   color: rgba(11, 10, 10, 0.745);
 


}

td,th{
    border: 1px solid #2351f9c5;
  text-align: left;
  padding: 8px;
  color:#fefefe;
}

td{
    background-color: #007efda4;
}
th{
    background-color: #0033fdcd;
}

.dtable{
    position: absolute;
    margin-top: 130px;
    margin-left: 370px;
    max-height: 290px;
   overflow-y: scroll;
   

}



 








